<mat-card>
    <h2></h2>
    <h5>All stats are taken from <a href="www.basketball-reference.com/">basketball-reference</a> and <a href="www.nba.com/">NBA.COM</a></h5>
    <h5>Data collection thanks to Swar's NBA API <a href="https://github.com/swar/nba_api">See github repository</a></h5>
    <br>
    <h5>Please also visit cited references</h5>
    <h6><a href="https://towardsdatascience.com/hyperparameter-tuning-the-random-forest-in-python-using-scikit-learn-28d2aa77dd74">Hyperparameter Tuning the Random Forest in Python
    </a></h6>
    <h6><a href="https://towardsdatascience.com/random-forest-regression-5f605132d19d">Random Forest Regression
    </a></h6>
    <h6><a href="https://scholars.unh.edu/cgi/viewcontent.cgi?article=1472&context=honors">Bouzianis, Stephen,
            "Predicting the Outcome of NFL Games Using Logistic Regression" (2019). Honors Theses and Capstones.
            474.</a></h6>
</mat-card>