<div class="container">
    <!-- <h3 class="d-flex justify-content-center gap-2"><button 
        routerLink="" class="m-1 btn btn-link">NBA Dashboard
    </button></h3> -->
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button routerLink="" class="m-1 btn btn-light btn-outline-primary" Button>Home</button>
            </li>
            <li class="nav-item">
                <button routerLink="team" class="m-1 btn btn-light btn-outline-primary" Button>Teams</button>
            </li>
            <li class="nav-item">
                <button routerLink="player" class="m-1 btn btn-light btn-outline-primary" Button>Players</button>
            </li>
            <li class="nav-item">
                <button routerLink="teamhistory" class="m-1 btn btn-light btn-outline-primary" Button>Season</button>
            </li>
            <li class="nav-item">
                <button routerLink="predictionsummary" class="m-1 btn btn-light btn-outline-primary" Button>Finals Predictions</button>
            </li>
            <li class="nav-item">
                <button routerLink="about" class="m-1 btn btn-light btn-outline-primary" Button>About this project</button>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
    <hr>
    <mat-card>
        <h5>All stats are taken from <a href="www.basketball-reference.com/">basketball-reference</a> and <a href="www.nba.com/">NBA.COM</a></h5>
    </mat-card>
</div>