<div class="container">

    <h3 class="d-flex justify-content-center">NBA Dashboard </h3>
    <!-- <h5 class="d-flex justify-content-center">Basic Team/Player management</h5> -->

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <button routerLink="team"
            class="m-1 btn btn-light btn-outline-primary" Button>Teams</button>
        </li>
        <li class="nav-item">
            <button routerLink="player"
            class="m-1 btn btn-light btn-outline-primary" Button>Players</button>
        </li>
        <li class="nav-item">
            <button routerLink="teamhistory"
            class="m-1 btn btn-light btn-outline-primary" Button>Season history</button>
        </li>
    </ul>
    </nav>

<router-outlet></router-outlet>

</div>