<div class="container">
  <mat-card>
      <div>
          <h1 class="border: 5px solid #FFFF00;border: 5px solid #FFFF00;" >Advanced stats</h1>
          <hr>
          <h3>The NBA's analytics revolution has changed the way we think about basketball, </h3>
          <h3>the metrics used to analyze and predict games can be found  through Basketball-Reference, HoopData, NBA.com, or ESPN</h3>
          <hr>
          <h3>This dashboard will give us a look at advanced stats per team, per player, group them and try to predict games</h3>
          <ul>
              <li>
                  Win record, this one is self-explanatory
              </li>
              <li>
                  Loss record, ditto.
              </li>
              <li>
                  MOV : Margin of victory, avg over a whole season
              </li>
              <li>
                  SOS : Strenght of schedule
              </li>
              <li>
                  ORTg : Offensive Rating; an estimate of points produced per 100 posessions
              </li>
              <li>
                  DRTg : Defensive Rating; an estimate of points allowed per 100 posessions
              </li>
              <li>
                  FTr : Free throw attempt rate; number of FT attempts per FG (field goal) attempt
              </li>
              <li>
                  3PAr : Three point attempt rate; percentage of 3-point shots taken
              </li>
              <li>
                  OEFGPct : Offensive effective field goal percentage;
              </li>
              <li>
                  ORB : Offensive rebound percentage
              </li>
              <li>
                  DEFGPct : Defensive effective field goal percentage;
              </li>
              <li>
                  RDB : Defensive rebound percentage
              </li>

          </ul>

          <br>
          <br>
      </div>
  </mat-card>
  <br>
  
</div>